@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

img {
    width: 100vw;
}

a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
    color: white;
    height: 5vh;
    background-color: darkred;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

a:hover {
    background-color: red;
}